<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2>The 2018 Unsanctioned Urban Triathalton</h2>
				<p>06.15.2018, BOSTON, MA</p>
			</header>
			<div class="content">
				<header>
					<h3>HOW DOES IT WORK?</h3>
				</header>
				<p>
					Simple. Once you make your account, you'll show up on race day at the predetermined starting point (still yet to be predetermined). At the start, you will be given a list of checkpoints that you must reach, each requires a different mode of transport.
				</p>

				<p>
					After you run, skate or bike to each checkpoint, you'll check in on this site. Part of the check-in process will require uploading a selfie using your phone camera. This serves as verification that you actually went where you were supposed to go, and the pictures will be visible on your finisher's page.
				</p>

				<header>
					<h3>What are the distances?</h3>
				</header>
				
				<p>
					<ul class='alt' style="text-align: center;">
						<li>Run: 3.1 miles</li>
						<li>Skate: 5 miles</li>
						<li>Bike: 12.4 miles</li>
					</ul>
				</p>

				<header>
					<h3>What is an unsanctioned race?</h3>
				</header>

				<p>
					No permits are being filed for this race. We aren't asking anybody's permission. We are just going to do it.
				</p>

				<p>
					That means that the responsibility for safety is on all participants. Please wear a helmet while skating and biking. We'll do our best to make sure you run by a fountain or two, but it is going to be summer, so you may want to bring water and other refreshments yourself.
				</p>

				<p>
					We will be starting and ending at a bar in downtown Boston (tbd), so you will be able to leave your belongings safe and dry while you compete. We advise against leaving anything truly valuable behind.
				</p>

				<header>
					<h3>How is this free?</h3>
				</header>

				<p>
					Well, we aren't really providing you with much. This is a DIY effort. The website is free to use and will provide you with the functionality you need to partake in this one-of-a-kind event.
				</p>
			</div>
			<footer>
				<ul class="actions">
					<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
					<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
				</ul>
			</footer>
		</article>
	</div>
</section>
