
<!-- Banner -->
<!--
	Note: To show a background image, set the "data-bg" attribute below
	to the full filename of your image. This is used in each section to set
	the background image.
-->
	<section id="banner" class="bg-img">
		<div class="inner">
			<header>
				<h1>The Unsanctioned Urban Triathalton</h1>
			</header>
		</div>
		<a href="#one" class="more">Learn More</a>
	</section>


<!-- One -->
	<section id="one" class="wrapper post bg-img">
		<div class="inner">
			<article class="box">
				<header>
					<h2>THE 2018 UNSANCTIONED URBAN TRIATHALON</h2>
					<p>05.013.2018<br/>BOSTON, MA</p>
				</header>
				<div class="content">
					<p>We love to race, but we are fed up with crappy races that are little more than cash grabs. After you run, skate and bike to the finish line, you'll be able to drown your sorrows in sweet, sweet beer at the after party. And the whole event (not including the beer) is totally free!</p>
				</div>
				<footer>
					<a href="generic.html" class="button alt">Learn More</a>
				</footer>
			</article>
		</div>
		<a href="#two" class="more">Learn More</a>
	</section>

	<!-- Two -->
		<section id="two" class="wrapper post bg-img">
			<div class="inner">
				<article class="box">
					<header>
						<h2>THREE MODES OF TRANSPORT</h2>
						<p>RUN, SKATE, PEDAL</p>
					</header>
					<div class="content">
						<p>The race will start and end at a bar, and contain three out-and-back legs. Each leg will take you to scenic destination. When you get there, upload a selfie, and head on back to the bar.</p>
					</div>
					<footer>
						<a href="generic.html" class="button alt">Learn More</a>
					</footer>
				</article>
			</div>
			<a href="#three" class="more">Learn More</a>
		</section>

	<!-- Three -->
		<section id="three" class="wrapper post bg-img">
			<div class="inner">
				<article class="box">
					<header>
						<h2>WHAT DO I GET FOR RUNNING?</h2>
						<p>NOTHING</p>
					</header>
					<div class="content">
						<p>Well, I guess you get pride. That's something.</p>
						<p>At the end of the race, you'll receive an personalized finisher page with your times for each leg, and an online medal. Swag costs money, and we ain't collecting any, but you can download a stencil or svg file and make your own damn shirt, if you really want one.</p>
						<p>Still have questions? Check out the FAQ.</p>

					</div>
					<footer>
						<a href="generic.html" class="button alt">Make My Own Damn Shirt</a>
					</footer>
				</article>
			</div>
			<a href="#four" class="more">Learn More</a>
		</section>

	<!-- Four -->
		<section id="four" class="wrapper post bg-img">
			<div class="inner">
				<article class="box">
					<header>
						<h2>BE YOUR BEST SELF</h2>
						<p>AND KICK YOUR WORST SELF'S ASS</p>
					</header>
					<div class="content">
						<p>This isn't about fucking money. This isn't about swag. This is about having fun, pushing yourself, and getting shwasted afterward. What's wrong with that?</p>
					</div>
					<footer>
						<a href="generic.html" class="button alt">REGISTER HERE</a>
					</footer>
				</article>
			</div>
		</section>

