<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2>500</h2>
				<p>Internal Server Error</p>
			</header>
			<div class="content">
				<p class='center'>
					Something went wrong on our end. Dunno. Sorry.
				</p>
			</div>
		</article>
	</div>
</section>
