<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2>404</h2>
				<p>Page Not Found</p>
			</header>
			<div class="content">
				<p class='center'>
					The page you are looking for does not exist. Sorry.
				</p>
			</div>
		</article>
	</div>
</section>
