#one {
	background-image: image-url('banner2.jpg');
}

#two {
	background-image: image-url('banner3.jpg');
}

#three {
	background-image: image-url('banner4.jpg');
}

#four {
	background-image: image-url('banner5.jpg');
}