#one {
	background-image: image-url('banner2.jpg');
}

#two {
	background-image: image-url('banner3.jpg');
}

#three {
	background-image: image-url('banner4.jpg');
}

#four {
	background-image: image-url('banner5.jpg');
}

#post {
	header {
		text-align: center;
	}
}

 #map {
	height: 400px;
	width: 100%;
}

.checkpoint-image {
	max-width: 80%;
}

.center {
	text-align: center;
}

#date-select {
	select {
		width: auto;
		display: inline;
		option {
			background: black;
		}
	}
}